body{
	background-color: #ffffff;
	padding: 0;
	margin: 0 0 0 auto;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(
		45deg,
		rgba(141,159,177,0.2) 40%,
		transparent 10%,
		rgba(181,116,255,0.35) 50%,
		transparent 100%
		),
		linear-gradient(
			-45deg,
			rgba(141,159,177,0.2) 40%,
			transparent 10%,
			rgba(62,85,255,0.4) 50%,
			transparent 100%
		),
		linear-gradient(
			135deg,
			rgba(141,159,157,0.33) 33%,
			transparent 20%
		),
		linear-gradient(
			45deg,
			rgba(138,159,154,0.35) 65%,
			transparent 20%,
			transparent 15%,
			rgba(141,159,157,0.66) 46%
		);
		background-repeat: round;
}
p {
 	font-family: verdana;
	font-size: 20px;
	text-align: center;
	/*text-shadow: 2px 2px 5px #22D4DD;*/
}
/*-------------- MAP -----------------*/
#mapid{
	height: 600px; 
	width: 80%;
	border-style: solid;
	margin: auto;
	text-align: top;

}

.col-sm select[id=year]{
	width: 120px;
	margin-left:10%; 
	margin-top: 4px;
}

#month_label{
	margin-left:10%;
	margin-top: 5px;
}

#year_label{
	margin-left:10%;
	margin-top: 5px;
}

.col-sm select[id=month]{
	width: 120px;
	margin-left:10%; 
	margin-top: 4px;
}

.col-sm + .btn + .btn-info select[id=year]{
	position: absolute;
}

.col-sm + .btn + .btn-info select[id=month]{
	position: absolute;
}

.row{
	/*padding-top: 20%;*/
	padding-left: 20%;
}
#year_btn{
	text-align: center !important;
	padding-left: 15px;
	margin-left: 10%; 
	margin-top: 2%;
	padding-right: 15px;
}

.month_c{
	text-align: center !important;
	padding-left: 15px;
	margin-left: 10%; 
	margin-top: 2%;
	padding-right: 15px;
}
@media only screen and (min-width: 768px){
.mytable{
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
}
.gclass{
	position: relative;
	height: 300px ;
	width: 300px ;
	left: -15%;
	vertical-align: center !important;
	display: inline-block;
}

.gclass1{
	position: relative;
	height: 400px ;
	width: 300px ;
	left: -5%;
	padding-right: 30px;
	vertical-align: center !important;
	display: inline-block;
}

.gclass2{
	position: relative;
	height: 400px !important;
	width: 800px !important;
	left: -15%;
	align-items: left !important;
	vertical-align: center;
	display: inline-block;
}

.draw2_c{
	/*height: 250px;*/
	width: 100% !important;
}

.boot_row{
	height: 400px;
}

.back_to{
		position: relative;
		margin-left: 15%;
		margin-top: -9px;
	}
}

@media only screen and (max-width: 768px){
	.btn-success{
		margin-right: 14%;
	}
	.mytable{
		align-items: center !important;
		width: 100% !important;
	}	
	.gclass{
	position: relative;
	height: 300px ;
	width: 100% !important;
	left: -15%;
	vertical-align: center !important;
	display: inline-block;
	}

	.gclass1{
	position: relative;
	height: 400px ;
	width: 100% !important;
	left: -15%;
	vertical-align: center !important;
	display: inline-block;
	}	

	.gclass2{
	position: relative;
	height: 400px !important;
	width: 100% !important;
	left: -15%;
	align-items: left !important;
	vertical-align: center;
	display: inline-block;
	}

	.draw_c{
	width: 100%;
	}

	.draw1_c{
	width: 100%;
	}

	.draw2_c{
	width: 100%;
	}

	.back_to{
		position: relative;
		margin-left: 25%;
		margin-top: -10px;
	}
}